@model HealthPlanPortal.Models.PreventiveCare

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PreventiveCare</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhysicalExamLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicalExamLimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoutinePediatricCareLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoutinePediatricCareLimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImmunizationLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImmunizationLimit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PreventiveCareId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
