@model IEnumerable<HealthPlanPortal.Models.PreventiveCare>

@{
    ViewBag.Title = "Preventive Care";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form>
    <fieldset>
        <legend>Preventive Care:</legend>
        <table class="table" border="1" style="font-family:Arial" cellspacing="5" cellpadding="5">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PhysicalExamLimit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoutinePediatricCareLimit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImmunizationLimit)
                </th>
                <th>Actions</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhysicalExamLimit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoutinePediatricCareLimit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImmunizationLimit)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.PreventiveCareId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.PreventiveCareId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.PreventiveCareId })
                    </td>
                </tr>
            }

        </table>
    </fieldset>
</form>
