@model HealthPlanPortal.Models.HealthPlan

@{
    ViewBag.Title = "Details";

}


<div>
    <h4>Health Plan Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HealthPlanCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HealthPlanCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HealthPlanDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HealthPlanDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PCPrequiredBool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PCPrequiredBool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PCPNetworkBool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PCPNetworkBool)
        </dd>

        @foreach (var item in Model.HealthPlanDetails)
        {
            <dt>
                @Html.DisplayNameFor(modelItem => item.MajorMedical.MajorMedicalProvideListBool)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.MajorMedical.MajorMedicalProvideListBool)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => item.MajorMedical.MajorMedicalDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.MajorMedical.MajorMedicalDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => item.PreventiveCare.PhysicalExamLimit)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.PreventiveCare.PhysicalExamLimit)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => item.PreventiveCare.RoutinePediatricCareLimit)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.PreventiveCare.RoutinePediatricCareLimit)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => item.PreventiveCare.ImmunizationLimit)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.PreventiveCare.ImmunizationLimit)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.Deductible.DeductibleCode)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Deductible.DeductibleCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => item.Deductible.IndividualDedAmt)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Deductible.IndividualDedAmt)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => item.Deductible.FamilyDedAmt)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Deductible.FamilyDedAmt)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => item.Deductible.MaxDeductibleAmountPerIndividual)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Deductible.MaxDeductibleAmountPerIndividual)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => item.Deductible.ServicesCoveredBeforeDeductibleMetBool)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Deductible.ServicesCoveredBeforeDeductibleMetBool)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => item.Deductible.DeductibleIncdInOutOfPcktBool)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Deductible.DeductibleIncdInOutOfPcktBool)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => item.Deductible.AnnualLimitsPlanBool)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Deductible.AnnualLimitsPlanBool)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => item.Deductible.AnnualPremium)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Deductible.AnnualPremium)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => item.Deductible.CoinsuranceUpper)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Deductible.CoinsuranceUpper)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => item.Deductible.CoinsuranceLower)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Deductible.CoinsuranceLower)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => item.Deductible.AnnualLimitHigher)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Deductible.AnnualLimitHigher)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => item.Deductible.AnnualLimitLower)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Deductible.AnnualLimitLower)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => item.Deductible.TotalEstimatedCost)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Deductible.TotalEstimatedCost)
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HealthPlanId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
