@model IEnumerable<HealthPlanPortal.Models.HealthPlan>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Health Plan</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <h4>Health Plan</h4>
    <table class="table" border="1" style="font-family:Arial" cellspacing="5" cellpadding="5">
        <tr>
            <th>
                @Html.DisplayName("Code")
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th>
                @Html.DisplayName("Require PCP?")
            </th>
            <th>
                @Html.DisplayName("Is Current PCP In Network")
            </th>
            <th>
                @Html.DisplayName("Deductible ID")
            </th>
            <th>
                @Html.DisplayName("Major Medical ID")
            </th>
            <th>
                @Html.DisplayName("Preventive Care ID")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HealthPlanCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HealthPlanDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PCPrequiredBool)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PCPNetworkBool)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deductible.DeductibleCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MajorMedical.MajorMedicalId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PreventiveCare.PreventiveCareId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.HealthPlanId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.HealthPlanId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.HealthPlanId })
                </td>
            </tr>
        }

    </table>
</body>
</html>
