@model IEnumerable<HealthPlanPortal.Models.HealthPlan>

@{
    ViewBag.Title = "Health Plan";

}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form>
    <fieldset>
        <legend>Health Plan:</legend>
        <table class="table" border="1" style="font-family:Arial" cellspacing="5" cellpadding="5">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.HealthPlanCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HealthPlanDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PCPrequiredBool)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PCPNetworkBool)
                </th>
                <th>Action Links</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.HealthPlanCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HealthPlanDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PCPrequiredBool)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PCPNetworkBool)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.HealthPlanId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.HealthPlanId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.HealthPlanId })
                    </td>
                </tr>
            }

        </table>
    </fieldset>
</form>
