@model IEnumerable<OrganizationPortal.Models.Coverage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/ManageEmployees.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CoverageCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoverageDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CoverageCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoverageDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CoverageId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CoverageId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CoverageId })
        </td>
    </tr>
}

</table>
