@model IEnumerable<HealthPlanPortal.Models.PreventiveCare>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhysicalExamLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoutinePediatricCareLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImmunizationLimit)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PhysicalExamLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoutinePediatricCareLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImmunizationLimit)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.PreventiveCareId }) |
                @Html.ActionLink("Details", "Details", new { id=item.PreventiveCareId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.PreventiveCareId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
