
@using System.Web
@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    <table border="1" styel="width:800px; font-family:Arial">
        <tr>
            <td colspan="2" style="text-align:center;background-color:orange;color:white"><h3>Medicure Insurance Logo</h3></td>
        </tr>
        <tr>
            <td stye="width:200px;background-color:orange;color:white">
                @Html.ActionLink("Manage Health Plans", "Index", "HealthPlans")<br />
                @Html.ActionLink("Manage Deductibles", "Index", "Deductibles")<br />
                @Html.ActionLink("Manage Major Medicals", "Index", "MajorMedicals")<br />
                @Html.ActionLink("Manage Preventive Care", "Index", "PreventiveCares")<br />
                @Html.ActionLink("Manage Organizations", "Index", "Organizations")<br />

            </td>
            <td stye="width:800px">@RenderBody()</td>
        </tr>
        <tr><td colspan="2" style="text-align:center; font-size:x-small;background-color:orange;color:white"><h3>Copy Rights Medicure Application</h3></td></tr>
    </table>
</body>
</html>
