@model HealthPlanPortal.Models.Organization

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Organization</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrganizationCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationEmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationEmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationZip)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrganizationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
