@model IEnumerable<HealthPlanPortal.Models.Organization>

@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Organisazation</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <h4>Organization</h4>
    <table class="table" border="1" style="font-family:Arial" cellspacing="5" cellpadding="5">
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th>
                @Html.DisplayName("Email Address")
            </th>
            <th>
                @Html.DisplayName("Phone Number")
            </th>
            <th>
                @Html.DisplayName("Address")
            </th>
            <th>
                @Html.DisplayName("City")
            </th>
            <th>
                @Html.DisplayName("State")
            </th>
            <th>
                @Html.DisplayName("Zip Code")
            </th>
            <th>Action Links</th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationEmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationZip)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Organization_Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Organization_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Organization_Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
