@model OrganizationPortal.Models.PrimaryCareProvider

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/ManageEmployees.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PrimaryCareProvider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrimaryCareProviderFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryCareProviderFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryCareProviderLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryCareProviderLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.Address_Street1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Address_Street1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PrimaryCareProviderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
