@model IEnumerable<OrganizationPortal.Models.PrimaryCareProvider>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/ManageEmployees.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryCareProviderFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryCareProviderLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.Address_Street1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryCareProviderFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryCareProviderLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.Address_Street1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PrimaryCareProviderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PrimaryCareProviderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PrimaryCareProviderId })
        </td>
    </tr>
}

</table>
