@model IEnumerable<OrganizationPortal.Models.GroupPolicyDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/ManageEmployees.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GroupNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GroupPolicyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GroupPolicyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GroupPolicyId })
        </td>
    </tr>
}

</table>
