@model OrganizationPortal.Models.Enrollment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/ManageEmployees.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Enrollment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentTypeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollmentTypeCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentTypeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollmentTypeDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollmentType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EnrollmentTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
