@model IEnumerable<OrganizationPortal.Models.Address>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/ManageEmployees.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address_Street1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address_Street2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address_City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address_State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address_Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address_Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address_Home_Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address_Work_Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address_Cell_phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Address_Street1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address_Street2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address_City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address_State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address_Zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address_Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address_Home_Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address_Work_Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address_Cell_phone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AddressId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AddressId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AddressId })
        </td>
    </tr>
}

</table>
