@model HealthPlanPortal.Models.MajorMedical

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MajorMedical</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MajorMedicalProvideListBool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MajorMedicalProvideListBool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MajorMedicalDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MajorMedicalDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MajorMedicalId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
